#wall-words {
    text-transform: uppercase;
    word-spacing: 6px;
    text-align: center;
    font-size: 14px;
}

#wall-topics {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
}

#wall .highlight-text {
    color: var(--color-primary);
} 

#wall .fade-text {
    color: var(--color-contrast-low);
} 
