#wall-words {
    text-transform: uppercase;
    word-spacing: 6px;
    text-align: center;
    font-size: 14px;
}

#wall-topics {
    text-transform: uppercase;
    text-align: center;
}

#wall .highlight {
    color: var(--color-primary);
    font-size: unset;
} 