<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="/js/wall_shading.js"></script>
<link type="text/css" rel="stylesheet" href="/css/wall_shading.css"/>

<div id="wall">

<p>I currently spend time pondering about these topics (hover over/tap on each one!):</p>
<div id="wall-topics">
<p class="topic-math math">math and technology</p>
<p class="topic-food food">food systems</p>
<p class="topic-climbing climbing">climbing and movement</p>
</div>

<p>...which means my brain might be jumbled like this:</p>

<div id="wall-words">

<span class="climbing">figure</span>
<span class="math climbing">nine</span>
<span class="math">point circle</span>

<span class="climbing">no spraying</span>
<span class="math climbing">beta</span>
<span class="math">distribution</span>

<span class="food">USDA guidelines for Certified</span>
<span class="food climbing">Organic</span>
<span class="climbing">crash pads</span>

<span class="math">Hagoromo</span>
<span class="math climbing">chalk</span>
<span class="climbing">buckets</span>

<span class="food">strawberry</span>
<span class="math food">fields</span>
<span class="math">medal</span>

<span class="food">sustainably caught</span>
<span class="food climbing">salmon</span>
<span class="climbing">ladder</span>

<span class="math">triangle</span>
<span class="math food">inequality</span>
<span class="food">in</span>
<span class="food climbing">access</span>
<span class="climbing">fund</span>

<span class="food">crop</span>
<span class="food math">rotation</span>
<span class="math">along an axis</span>

<span class="climbing">figure</span>
<span class="math climbing">four</span>
<span class="math">color theorem</span>

<!-- <span class="math climbing">crux</span> -->

<span class="food">food access in the</span>
<span class="food math">metropolis</span>
<span class="math">hastings</span>

<span class="math">analytical</span>
<span class="math climbing">solution</span>
<span class="climbing">comps</span>

<span class="food">antibiotic</span>
<span class="food climbing">free</span>
<span class="climbing">climbing</span>

<span class="food">refined </span>
<span class="food climbing">sugar</span><!--
--><span class="climbing">loaf slabs</span>

<span class="math">importance</span>
<span class="food math">sampling</span>
<span class="food">at the farmer's market</span>

<span class="math">hidden Markov</span>
<span class="food math">models</span>
<span class="food">of weather patterns</span>

<span class="climbing">outdoor</span>
<span class="math climbing">project</span><!--
--><span class="math">ive plane</span>

</div>
</div>
